<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="content">
    <div th:include="menuFragment" ></div>
    	<br/><br/>
	   			<form action="EditStudent" method="POST">
				<table border="1" cellpadding="5">
						<tr><th>Id</th><th>Imię</th><th>Nazwisko</th><th>Pesel</th></tr>
						<tr th:each="student: ${students}">
						<td><span th:text="${student.id}" /></td>
						<td><span th:text="${student.name}" /></td>
						<td><span th:text="${student.surname}" /></td>
						<td><span th:text="${student.pesel}" /></td>
						</tr>
					</table>   			
					<table>
						<tr><td>id:</td><td><select class="form-control" name="studentClassId" id="studentClassId">
											    <option value="-1">---</option>
											    <option th:each="student: ${students}" th:value="${student.id}" th:text="${student.id} + ', ' + ${student.name} + ' ' + ${student.surname}"></option>
											    </select></td>
						</tr>
						<tr><td>imię:</td><td><input type="text" name="studentName" /></td></tr>
						<tr><td>nazwisko:</td><td><input type="text" name="studentSurname" /></td></tr>
						<tr><td>pesel:</td><td><input type="text" name="studentPesel" /></td></tr>
					</table><br/><BR/>
					<input type="submit" value="Edit"/>
				</form>
    </div>

</body>
</html>